.service{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.service-title h1{
    font-size: 70px;
}
.service-title img{
    padding-left: 100px;
    width: 100px;
}
.inner{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    gap: 10px;
}
.service-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px 150px;
    margin-bottom: 100px;
}
.arrow{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.inner h2{
    background: linear-gradient(270deg,#DF8908 50%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
